.info {
  background: rgba(255, 255, 255, .6);
  padding: 20px 40px;
  width: 60%;
  // display: inline-block;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  border-left: 4px solid #ff9900;
  border-right: 4px solid #ff9900;
  color: #222;
}
